.App {
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2016/12/14/04/08/thunderbolt-1905603_960_720.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height:100vh;
    color: azure;
  
  
  }
  